<!DOCTYPE html>
<html>
	<head>
		<title>Flask</title>
		<style type="text/css">
			body{
				background: #E6E6E6;
				font-size: 16px;
			}
			h1{
			    font-size: 2em;
			    text-align: center;
			    padding: 10px;
			}
			p{
			    font-size: 0.9em;
			    padding: 20px;
			    text-align: center;
			}
			a{
			    text-decoration: none;
			    Color: #554F4F;
			}
			a:hover{
			    color: #fff;
			    background: black;
			}
			div{
			    width: 200px;
			    margin: 0px auto;
			}

		</style>
	</head>
	<body>
	    <div>
    		<h1>Site flask!</h1>
    		<hr>
    		<p>Ir para o formulario tipo <a href="{{ url_for('ir_get') }}">Get</a></p>
    		<hr>
        	<p>Ir para o formulario tipo <a href="{{ url_for('ir_post') }}">Post</a></p>
    	    <hr>
    	    <p>Ir para o formulario tipo <a href="{{ url_for('ir_sessao') }}">Sessão</a></p>
    	</div>
	</body>
</html>